table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
}

#profile-image1 {
    cursor: pointer;

    width: 100px;
    height: 100px;
    border: 2px solid #03b1ce;
}

.tital {
    font-size: 16px;
    font-weight: 500;
}

.bot-border {
    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0
}

tr:nth-child(even) {
    background-color: #c4e1ff;
}

tr:nth-child(odd) {
    background-color: #e8fff5;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_inside tr {
    background-color: #c4e1ff;
}

.row {
    /*width: 500px;*/
    /*height: 300px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: -150px 0 0 -250px;*/
    /*display: table;*/
}

.panel-body{
    background-color: rgba(255, 255, 255, 0.7);
}
.panel{
    background-color:transparent;
}
.nav-tabs>li>a{
    background-color: rgba(255, 255, 255, 0.7);
    color: #761c19;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #bbffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: #0000c6;
    background-color: rgba(193, 255, 228, 0.5);
}

@media screen and (max-width: 600px) {
    .table_outside {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-6 {
        float: initial;
        margin: auto;
    }
}